@using System.Configuration
<div id='footer'> 
  <p id='legal'> 
    Content by
    @ConfigurationManager.AppSettings["author"]
    Design adapted from
    <a href='http://www.freecsstemplates.org/preview/replenish'>Replenish</a> 
  </p> 
</div>