# ReSharper meta directory
_ReSharper*

# R# option files
*.ReSharper.user

*.csproj.user
*.DotSettings.user

# dotcover files
*.dotcover

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

*.suo
*.swp
